@charset "UTF-8";

/* 共通部分 */

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", serif;
  line-height: 1.4;
  color: #111;
}

p {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  color: #444;
  display: block;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

img.scale-up-anime {
  transition: 0.3s;
}

img.scale-up-anime:hover {
  transform: scale(1.08, 1.08);
}

.wrapper {
  /* max-width: 1100px;
  margin: 0 auto; */

  margin: 0 15%;
}

.border {
  margin: 0 2%;
  border-top: 1px solid #aaa;
}

/* /共通部分 */

.open-visual {
  /* height: 100vh; */
}

/* header */

header {
  padding-top: 60px;
}

.title h1 {
  margin-top: 0;
  margin-bottom: 5px;
  font-family: 'Libre Baskerville', sans-serif;
  font-weight: normal;
  font-size: 4rem;
  line-height: 1.2;
}

.title p {
  font-size: 2rem;
  color: #666;
  margin-bottom: 20px;
}

.main-visual-wrapper {

}

.main-visual {
  margin-top: 60px;
}

/* /header */

/* main */

/* main - 共通部分 */
main {
  margin-top: 60px;
  position: relative;
}

main h1 {
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", sans-serif;
  font-size: 3rem;
  letter-spacing: -1px;
}

main h2 {
  font-size: 3.3rem;
  font-weight: bold;
}

main .border {
  margin: 0;
  border-top: 1px solid #111;
}

/* main - /共通部分 */

.profile {
  /* background: #ceb; */
  /* background-image: linear-gradient(#c9ffbf, #ffafbd); */
  /* background-image: radial-gradient(#0df, #013); */
  /* background-image: radial-gradient(#fa1, #f11); */
  background-image: linear-gradient(#dfb, #6a3);
  /* background-image: linear-gradient(#fa1, #f11); */
}

.profile .wrapper {
  padding: 30px 0;
}

.profile-content {
  margin-top: 30px;
  display: flex;
}

.profile-image,
.profile-detail {
  margin-left: 40px;
}

.profile-detail h2,
.profile-detail p,
.profile-detail ul {
  padding: 5px;
}

.profile-image img {
  width: 180px;
  height: auto;
  border-radius: 50%;
  border: 0.2rem solid #fff;
}

.profile-detail ul {
  margin-top: 10px;
  display: flex;
}

.profile-detail li {
  margin-right: 15px;
}

.profile-detail img {
  width: 40px;
  height: 40px;
}

.links {
  margin-top: 60px;
}

.links-contents {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.link {
  width: 33%;
  height: auto;
  /* border: 3px solid #6a3; */
  /* border: 3px solid #66aa33; */
  /* border: 3px solid rgba(102, 170, 51, 0.5); */
  /* border-radius: 10px; */
  padding: 5px;
}

.link h2,
.link p {
  margin-top: 10px;
}

.link img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.link h2 {
  text-align: center;
}

/* /main */

/* footer */

footer {
  margin-top: 60px;
}

.copyright {
  margin: 30px 0;
}

.copyright p {
  color: #666;
  text-align: center;
}

.scroll-top {
  position: absolute;
  right: 5%;
  bottom: -20px;
}

.scroll-top img {
  width: 100px;
  height: auto;
  cursor: pointer;
  transition: 0.3s;
}

.scroll-top img:hover {
  transform: translateY(-10px);
}

/* /footer */

/* レスポンシブ対応 */
@media screen and (max-width: 600px) {
  /* 共通部分 */

  html {
    font-size: 55%;
  }

  .wrapper {
    margin: 0 5%;
  }

  /* /共通部分 */

  /* header */

  header {
    padding-top: 30px;
  }

  .title h1 {
    font-size: 2.8rem;
  }

  .title p {
    font-size: 1.8rem;
  }

  .main-visual-wrapper {
    margin: 0;
    width: 100vw;
  }

  /* /header */

  .main-visual {
    margin-top: 30px;
  }

  /* main */

  main {
    margin-top: 30px;
  }

  .profile-content {
    flex-direction: column;
    align-items: center;
  }

  .profile-image,
  .profile-detail {
    margin-left: 0;
  }

  .profile-detail h2,
  .profile-detail p {
    text-align: center;
  }

  .profile-detail ul {
    justify-content: center;
  }

  .links {
    margin-top: 30px;
  }

  .links-contents {
    flex-direction: column;
    align-items: center;
  }

  .link {
    width: 100%;
  }

  .link:not(:first-of-type) {
  margin-top: 30px;
  }

  img.scale-up-anime {
    transition: none;
  }

  img.scale-up-anime:hover {
  transform: none;
  }

  .scroll-top {
    position: absolute;
    right: 40px;
    bottom: -65px;
  }

  .scroll-top img {
    width: 50px;
    height: auto;
    cursor: auto;
    transition: none;
  }

  .scroll-top img:hover {
    transform: none;
  }

  /* /main */

  /* footer */

  footer {
    margin-top: 80px;
  }

  /* /footer */
}
/* /レスポンシブ対応 */
